{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tops Web Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <center>
        <h1>Forgot Password</h1>
            {% if msg %}
                <b style="color: green;">{{msg}}</b>
            {% endif %}
            <form method="post" action="{% url 'forgot-password' %}">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" name="email" id="email"><br><br>

                <a href="{% url 'forgot-password' %}">
                <input type="submit" value="Send OTP" class="btn btn-primary">
                </a>
            </form>
    </center>        
</body>
</html>
{% endblock %}